<!doctype html>
<html lang="en">
  <head>
    <title>MoverNation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- Material Kit CSS -->
    <link rel="stylesheet" href="/assets/css/material-kit.css?v=2.0.3">

  </head>
  {{#if p_account}}
  <body class="profile-page sidebar-collapse">
  {{else}}
  <body>
  {{/if}}
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" href="/">
              MoverNation </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="about">
                  Product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">
                  About us
                </a>
              </li>
              {{#if username}}
                <li class="dropdown nav-item">
                  <button class="btn btn-primary btn-round btn-sm dropdown-toggle" data-toggle="dropdown">{{{username}}}</button>
                  <div class="dropdown-menu dropdown-with-icons">
                    <a href="/accounts" class="dropdown-item">
                      <i class="material-icons">person</i>My account</a>
                    <a href="/logout" class="dropdown-item"><i class="material-icons">power_settings_new</i>Log out</a>
                  </div>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="login">
                    <button class="btn btn-danger btn-round btn-sm">Login/Register</button>
                  </a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
    </nav>

    {{{body}}}

    <footer class="footer footer-default">
    <div class="container">
      <div class="copyright float-right">
        Made with <i class="material-icons">favorite</i> by
        <a href="https://github.com/XavierDelattre" target="_blank">Xavier Delattre</a>
      </div>
    </div>
  </footer>

    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap-material-design.min.js"></script>
    
    <!-- Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="/assets/js/plugins/moment.min.js"></script>

    <!-- Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/assets/js/plugins/bootstrap-selectpicker.js"></script>

    <!-- Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="/assets/js/plugins/bootstrap-tagsinput.js"></script>

    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/assets/js/plugins/jasny-bootstrap.min.js"></script>

    <!-- Plugin for Small Gallery in Product Page -->
    <script src="/assets/js/plugins/jquery.flexisel.js"></script>
    
    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="/assets/js/plugins/bootstrap-datetimepicker.js"></script>

    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/assets/js/plugins/nouislider.min.js"></script>

    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="/assets/js/material-kit.js?v=2.0.3"></script>

    <script type="text/javascript">
  $('#birthpicker').datetimepicker({
    icons: {
      time: "fa fa-clock-o",
      date: "fa fa-calendar",
      up: "fa fa-chevron-up",
      down: "fa fa-chevron-down",
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-screenshot',
      clear: 'fa fa-trash',
      close: 'fa fa-remove'
      },
    format: 'DD/MM/YYYY'
  });
</script>

  </body>
</html>