
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/bg2.jpg')">
</div>
<div class="main main-raised">
	<div class="profile-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<div class="profile">
						<div class="avatar">
							<img src="/assets/img/faces/avatar_default.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
						</div>
						<div class="name">
							<h3 class="title">{{{username}}}
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="description text-center">
				<p>A description of a user.</p>
			</div>
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto">
					<br><br>
					<ul class="nav nav-pills nav-pills-rose justify-content-center">
  						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#pill1">New</a>
  							<div class="dropdown-menu">
  								<a class="dropdown-item" href="#pill1-activity" data-toggle="tab">Activity</a>
  								<a class="dropdown-item" href="#pill1-weight" data-toggle="tab">Weight</a>
								</div>
  						</li>
  						<li class="nav-item"><a class="nav-link active" href="#pill2" data-toggle="tab">Weekly stats</a></li>
  						<li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">All my stats</a></li>
  						<li class="nav-item"><a class="nav-link" href="/accounts">Community</a></li>
					</ul>
					<div class="tab-content tab-space">
						<div class="tab-pane" id="pill1-activity">
							Start a new activity:
						</div> 
						<div class="tab-pane" id="pill1-weight">
							Enter a new weight:
						</div>
						<div class="tab-pane active" id="pill2">
							My weekly stats:
						</div>
						<div class="tab-pane" id="pill3">
							All my stats.
						</div>

					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>