<div class="page-header header-filter" filter-color="purple" style="background-image: url('/assets/img/bg7.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-auto mr-auto">
				<div class="card card-signin">
					<h2 class="card-title text-center">Login</h2>
					<div class="card-body">
						<div class="col-md-5 ml-auto mr-auto">
							<form class="form" method="" action="">
								<div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                </div>
								<div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                </div>
                <div class="text-center">
                      <a href="#pablo" class="btn btn-primary btn-round">Login</a>
                </div>
								</form>
						</div>
						<br><p class="text-center"><a href="register">Not register yet?</a></p>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>