<div class="page-header header-filter" filter-color="purple" style="background-image: url('/assets/img/bg7.jpg')">
	<div class="container">
    {{#if alert}}
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{alert}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>
    </div>
    {{/if}}
		<div class="row">
			<div class="col-md-10 ml-auto mr-auto">
				<div class="card card-signin">
					<h2 class="card-title text-center">Login</h2>
					<div class="card-body">
						<div class="col-md-5 ml-auto mr-auto">
							<form class="form" method="post" action="">
								<div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>
                    <input name="username" type="text" class="form-control"  maxlength="64" placeholder="Username">
                  </div>
                </div>
								<div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input name="password" type="password" class="form-control" minlength="8" maxlength="64" placeholder="Password">
                  </div>
                </div>
                <div class="text-center">
                      <input type="submit" class="btn btn-primary btn-round" value="Login">
                </div>
								</form>
						</div>
						<br><p class="text-center"><a href="register">Not register yet?</a></p>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>