<div class="page-header header-filter" filter-color="purple" style="background-image: url('/assets/img/bg.jpg')">
	<div class="container">
    {{#if alert}}
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{alert}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>
    </div>
    {{/if}}
		<div class="row">
			<div class="col-md-10 ml-auto mr-auto">
				<div class="card card-signin">
					<h2 class="card-title text-center">Register</h2>
					<div class="card-body">
						<form class="form" method="post" action="">
              <div class="row">
                <div class="col-md-5 ml-auto mr-auto">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person</i>
                        </span>
                      </div>
                      <input name="username" type="text" class="form-control" maxlength="64" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">mail</i>
                        </span>
                      </div>
                      <input name="email" type="email" class="form-control" maxlength="64" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input name="password" type="password" class="form-control" autocomplete="off" minlength="8" maxlength="64" placeholder="Password">
                    </div>
                  </div>
  								<div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">place</i>
                        </span>
                      </div>
                      <input name="city" type="text" class="form-control" maxlength="64" placeholder="City you live in">
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">
                            calendar_today</i>
                          </span>
                        </div>
                        <input name="birth" type="text" class="form-control datetimepicker" id="birthpicker"  placeholder="Birth date" />
                      </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary btn-round" value="Register">
              </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
